matplotlib
streamlit-cropper
scipy
opencv-python-headless
opencv-contrib-python-headless
streamlit
cython
mongoengine
wget
dnspython
tqdm
pillow
--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.6/index.html
torch===1.6.0+cpu
torchvision===0.7.0+cpu
detectron2
pycocotools-fix
